<div class="panel panel-default">
  <div class="panel-heading">
        <div class="panel-title">

        </div>
  </div>
  <div class="panel-body">
    <p><center><%= image_tag @pin.image.url(:large) %></center>
      <p><%= @pin.description %></p>
        <p> <strong><%= @pin.user.email if @pin.user %></strong> </p>
  </div>

  <div class="panel-footer">
    <% if @pin.user == current_user %>
        <%= link_to edit_pin_path(@pin) do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
        <% end %>
    <% end %>
    <%= link_to 'Back', pins_path %>
  </div>

</div>
