<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'rails generate controller pages homerails generate controller pages homedata-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Home", root_path %>
	<%= link_to "About Us", about_path %>
	<%= yield %>

</body>
</html>
